<footer>
  <div class="footer_container">
    <div class="footer-item footer-item_one">
      <article>
        <h3>Waarom surfles bij De Surfbus?</h3>
        <ul>
          <li>Surfen op de beste spots van Nederland!</li>
          <li>Kleine groepjes van maximaal 4 personen</li>
          <li>
            Iedere les dezelfde ervaren instructeur, waardoor er echt oog is
            voor jouw ontwikkeling
          </li>
          <li>Surfbuddies ontmoeten!</li>
          <li>En vooral heel veel plezier!</li>
        </ul>
      </article>
    </div>
    <div class="footer-item footer-item_two">
      <h3>Gaan als ze staan!</h3>
      <p>
        Neem je meerdere lessen bij De Surfbus? Dan sturen wij jou een
        persoonlijk bericht wanneer de golven goed zijn voor jouw niveau. Zo
        weet je zeker dat jij het meeste uit jouw surfles haalt!
      </p>
    </div>

    <div class="footer-item footer-item_three">
      <h3>DE SURFBUS</h3>

      <p>
        <a href="tel:0031617143385">0617143385</a><br />
        <a href="mailto:info@surfbus.nl">info@surfbus.nl</a>

        <br /><br />

        <!-- Zeeweggetje 1 <br />
        Wijk aan Zee <br /> -->
        KVK: 82228035 <br />
        <!-- Btw nr. 1234567890 -->
      </p>
    </div>
  </div>
</footer>
